site_name: Feonix Documentation
# site_url: https://xxx
repo_url: https://github.com/PurdueAerialRoboticsTeam/feonix-docs
repo_name: PurdueAerialRoboticsTeam/feonix-docs
edit_uri: edit/main/docs
site_author: Aerial Robotics at Purdue University
copyright: Aerial Robotics at Purdue University

markdown_extensions:
  - admonition
  - meta
  - plantuml_markdown
  - pymdownx.details
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences

theme:
  name: material
  logo: images/New_PART_logo_favicon-Canidate.svg
  icon:
    repo: fontawesome/brands/github
  features:
    - navigation.instant
    - navigation.instant.prefetch
    - navigation.instant.progress
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.indexes
    - navigation.tracking
    - search.highlight
    - search.share
    - search.suggest
    - toc.follow
    - toc.integrate
  palette:
    - scheme: default
      primary: custom
      accent: custom
      toggle:
        icon: material/weather-sunny
        name: Switch to dark mode
    - scheme: slate
      primary: custom
      accent: accent-orange
      toggle:
        icon: material/weather-night
        name: Switch to light mode

extra:
  homepage: https://purdueaerial.com

repo_url: https://github.com/PurdueAerialRoboticsTeam/feonix-docs
repo_name: PurdueAerialRoboticsTeam/feonix-docs

plugins:
  - offline
  - search:
      lang: en
  - with-pdf:
      enabled: !ENV [ENABLE_PDF_EXPORT, false]

extra_css:
  - stylesheets/extra.css

nav:
  - Home: index.md
  - Getting Started: getting_started.md
  - Diagrams:
      - Creating Diagrams: creating_diagrams.md
      - Diagrams: diagrams.md
