:root {
    --md-primary-fg-color:        #000000;
    --md-primary-fg-color--light: #ebd99f;
    --md-primary-fg-color--dark:  #8e6f3e;
  }

  [data-md-color-scheme="slate"] {
    --md-primary-fg-color:        #6f727b;
    --md-primary-fg-color--light: #c4bfc0;
    --md-primary-fg-color--dark:  #9d9795;
  }
